extends modal_layout.pug
block modal_title
    | About
block modal_body
    h5 Why
    p "Just drop it" allows you to simply and instantly send a file to a friend, whatever your network configuration (VPN, etc...).
    p We thought that this kind of tool was missing in our work environment, so we tried to set one up. Lucky for us, tools like node.js, socket.IO and socket.IO-stream made it quite easy to get something up and running.
    h5 Recipe
    p node.js + express + socket.IO + socket.IO-stream + boosted(bootstrap)...
    h5 Authors
    ul
        li Arnaud Ruffin
        li Benjamin Einaudi
    h5 Contact
    p Any question, suggestion or even contribution, please visit our project on&nbsp;
        a(title="github" href="https://github.com/Orange-OpenSource/just-drop-it") GitHub
