div(class="modal fade" id="aboutModal" tabindex="-1" role="dialog" aria-labelledby="about dialog" aria-hidden="true")
    div(class="modal-dialog")
        div(class="modal-content")
            div(class="modal-header")
                button(type="button" class="close" data-dismiss="modal" aria-label="Close")
                    span(aria-hidden="true")
                h4(class="modal-title" ) About
            div(class="modal-body")
                h5 Why
                p "Just drop it" allows you to simply and instantly send a file to a colleague, whatever your network configuration (VPN, etc...).
                p We thought that this kind of tool was missing in our work environment, so we tried to set one up. Lucky for us, tools like Nodejs, Boost and Kermit made it quite easy to get something up and running.
                h5 Recipe
                p nodejs + express + socket-io + boost(bootstrap)...
                h5 Source code
                p We hope to publish it on Orange Github repository.
                p In the meantime, you can download this zip file if you want to have a look &nbsp
                    a(class="glyphicon glyphicon-download-alt" title="download zip file" href="/down_source")
                h5 Authors
                p Written by Arnaud Ruffin
                p Re-written and polished by Benjamin Einaudi
                h5 Contact
                p Any question or suggestion, feel free to contact us &nbsp
                    a(class="glyphicon glyphicon-envelope" title="contact us" href="mailto:arnaud.ruffin@orange.com;benjamin.einaudi@orange.com")
