script.
    function displayBanner(idModal, message, timeout){
        var messageContainer = $(idModal);
        messageContainer.html(message);
        messageContainer.show();
        setTimeout(function(){messageContainer.hide();},typeof timeout === "undefined" ? 5000 : timeout);
    }

    function displayMessage(message){
        $("#dangerMessage").hide();
        displayBanner("#successMessage", message);
    }

    function displayError(message){
        $("#successMessage").hide();
        displayBanner("#dangerMessage", message);
    }

div(class="alert alert-success" id="successMessage" hidden="true")
div(class="alert alert-danger" id="dangerMessage" hidden="true")
div(id="warning-window" class="alert alert-warning" hidden="true")
    span(class="glyphicon glyphicon-exclamation-sign" aria-hidden="true")
    span(class="sr-only") Warning:
    | Don't close this windows!
