script.

    var lastBannerId = null;

    var currentBannerCount= 0;

    function displayBanner(idModal, message, timeout) {
        if(lastBannerId != null && lastBannerId != idModal){
            $(lastBannerId).hide();
            currentBannerCount = 0;
        }
        currentBannerCount += 1;

        var messageContainer = $(idModal);
        messageContainer.html(message);
        messageContainer.show();

        lastBannerId = idModal;

        var hideAfter = typeof timeout === "undefined" ? 5000 : timeout;
        console.log("displayBanner - banner will be hidden after " + hideAfter);
        setTimeout(function () {
            if(lastBannerId == idModal && --currentBannerCount == 0){
                messageContainer.hide();
                lastBannerId = null;
            }
        }, hideAfter);
    }

    function displayMessage(message, timeout) {
        console.log("displayMessage - " + message);
        displayBanner("#successMessage", message, timeout);
    }

    function displayError(message, timeout) {
        console.log("displayError - " + message);
        displayBanner("#dangerMessage", message, timeout);
    }

div(class="alert alert-success" id="successMessage" hidden="true")
div(class="alert alert-danger" id="dangerMessage" hidden="true")
div(id="warning-window" class="alert alert-warning" hidden="true")
    span(class="glyphicon glyphicon-exclamation-sign" aria-hidden="true")
    span(class="sr-only") Warning:
    | Don't close this window!
