extends layout.pug
block extra_scripts
    script.
        window.onload = function() {
            $("#warning-window").hide();
            $("header").hide()
        }
block content
    h1.error #{message}&nbsp;(
        small #{sub_message}
        | )
    if isLocal
        pre #{stack}