//
 just-drop-it
 Copyright (C) 2016 Orange
 Authors: Benjamin Einaudi  benjamin.einaudi@orange.com
          Arnaud Ruffin arnaud.ruffin@orange.com

 This program is free software; you can redistribute it and/or
 modify it under the terms of the GNU General Public License
 as published by the Free Software Foundation; either version 2
 of the License, or (at your option) any later version.

 This program is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with Foobar.  If not, see <http://www.gnu.org/licenses/>.

div(class="container footer")
    div(class="footer-content")
        p(class="text-muted text-left") This page allows you to simply beam a file to a colleague. You and your pal must be in front of your browsers at the same time. Nothing is stored on any server.
        p(class="text-center")
            a(class="text-muted" data-toggle="modal" data-target="#aboutModal" role="button") About
            | &nbsp - &nbsp
            a(id="whatsNewLink" class="text-muted" data-toggle="modal" data-target="#whatsNewModal" role="button") What's new
                span(id="whatsNewBadge" class="alert-danger badge") !
script.
    var wnHandler = new WhatsNewHandler(#{jdropitVersion},$("#whatsNewLink"),$("#whatsNewBadge"));
    $("#whatsNewLink").click(function(){wnHandler.setAsRead()});
include about
include whatsnew






