div(class="container footer")
    div(class="footer-content")
        p(class="text-muted text-left") This page allows you to simply beam a file to a colleague. You and your pal must be in front of your browsers at the same time. Nothing is stored on any server.
        p(class="text-center")
            a(class="text-muted" data-toggle="modal" data-target="#aboutModal" role="button") About
            | &nbsp - &nbsp
            a(class="text-muted" data-toggle="modal" data-target="#whatsNewModal" role="button") What's new
include about
include whatsnew






