div(class="footer row")
    div(class="col-col-xs-12")
        p(class="text-muted") This page allows you to simply beam a file to a colleague. You and your pal must be in front of your browsers at the same time. Nothing is stored on any server.
        p(class="text-muted") &copy; A Ruffin 2015