header(role="banner")
    div.notification-header(role="banner" style="display: none;") Just-drop-it needs your permission to &nbsp;
        em enable desktop notifications
            a.dismiss-notification
                em.icon-delete
    div.header-content
        div.container
            div.row
                div.col-xs-12
                    h1 Just drop it
                        small= dumbContent

script.
    function enableNotifications() {
        if(jdNotif.isNotificationAvailable() && !jdNotif.isAlreadyGranted()){
            var container = $(".notification-header").first();
            var dismiss = container.find(".dismiss-notification").first();
            container.show();
            dismiss.on('click', function (event) {
                debug("dismiss clicked");
                event.stopPropagation();
                container.hide();
            });
            container.on("click", function () {
                debug("banner clicked");
                jdNotif.askPermission(function () {
                    container.hide();
                    jdNotif.notify("Great!", "Notifications are enabled");
                });
            });
        }
    }