div.modal.fade(tabindex="-1" role="dialog" aria-hidden="true")
    div.modal-dialog(role="document")
        div.modal-content
            div.modal-header.modal-header-dropit
                button.close(type="button" data-dismiss="modal" aria-label="Close")
                    span(aria-hidden="true") &times;
                h4.modal-title
                    block modal_title
            div.modal-body
                block modal_body