extends layout
block content
    div(class="row")
        div(class="col-xs-12 alert h3")
            span(class="glyphicon glyphicon-exclamation-sign" aria-hidden="true")
                span(class="sr-only lead") Error
                | This project hasn't been tested on IE. Please use one of the following browser:
                ul
                    li Firefox
                    li Chrome
                    li Safari
