extends layout.pug
block extra_scripts
    if isLocal
        script(src="/jquery.fileDownload.js")
        script(src="/js/jdropit-receive.js")
    else
        script(src="/jquery.fileDownload.js")
        script(src="/js/jdropit-receive.min.js")
    script.
        var receiverHandler;
        window.onload = function(){
            receiverHandler = new ReceiverHandler(#{isLocal}, "#{senderId}","#{fileName}",#{fileSize});
            enableNotifications();
        }
block content
    div.row#transferContainer
        div.col-xs-12
            h2 Hello
            p Transfer in progress...
        div.col-xs-12
            div.text-xs-center#progress-display 0%
            progress.progress#progress(value="0" max="100" style="min-width: 2em;" aria-describedby="progress-display")
            p
                span#filename

    div.row#completeContainer(style="display: none;")
        div.col-xs-12
            h2 Thank you!
            p Your friend knows you've received the file. You can close this page now.
    div.row#errorContainer(style="display: none;")
        div.col-xs-12
            h2 Error
            strong.text-danger#errorMessage
