extends layout
block extra_scripts
    script(src="/socket.io/socket.io.js")
    script(src="/js/socket.io-stream.js")
    script(src="/js/jdropit-receive.js")
    script(src="/js/jquery.fileDownload.js")
    script.
        window.onload = function(){
            receiveFile(#{isLocal},  "#{senderId}","#{receiverLabel}");
        }
block content
    div.row
        div.col-xs-12
            h3 Hello
            p Someone just dropped you a file
    div.row#transferContainer
        div.col-xs-12
            div.progress
                div#transferProgressBar(class="progress-bar  progress-bar-striped active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em;") 0%
            p File:
                span#filename

    div.row#completeContainer(hidden="true")
        div.col-xs-12
            h3 Thank you!
            p Your friend knows you received the file. You can close this page now.
    div.row#errorContainer(hidden="true")
        div.col-xs-12
            h3 Error
            strong#errorMessage(class="text-danger")
