extends layout
block extra_scripts
    script(src="/socket.io/socket.io.js")
    script(src="/js/socket.io-stream.js")
    script(src="/js/ZeroClipboard.min.js")
    script(src="/js/jdropit-send.js")
    script.
        window.onload = function(){
            sendFile(#{isLocal});
        }
block content
    ddiv.row
        div.col-xs-12
            h3 Hello
    div.row#selectFileContainer
        div.col-xs-12
            p Please drop a file below:
            div(class="upload-drop-zone" id="drop-zone") Just drag and drop a file here
            form(id="myform" class="form-inline" action="")
                div(class="form-group")
                    | Or select it in your file explorer:
                    label(for="file" class="hidden") select a file
                    input(type="file" id="file")
    div.row#copyLinkContainer(hidden="true")
        div(class="col-xs-12 jumbotron")
            h4 Ready to transfert!
            p.lead Tell your friend to go to this url:
            div.text-muted#generatedurl
            button.btn#copy-button(title="Click to copy url to clipboard") Copy to clipoard
            span#clipboardcopyok(class="glyphicon glyphicon-check" aria-hidden="true" )
    div.row#transferContainer(hidden="true")
        div.col-xs-12
            p#transfertMessage The transfer will start as soon as you friend open the link.
            div.progress
                div#transferProgressBar(class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em;") 0%

            p File:
                span.filename
    div.row#completeContainer(hidden="true")
        div.col-xs-12
            h3 Thank you!
            p Your friend did receive the file. You can close this page now.
    div.row#errorContainer(hidden="true")
        div.col-xs-12
            h3 Error
            strong#error_message(class="text-danger")


