extends layout
block extra_scripts
    | <!--[if IE]> <script>if(window.location.pathname !== "/no_ie")window.location = "/no_ie";</script><![endif]-->
    script(src="/socket.io/socket.io.js")
    script(src="/js/socket.io-stream.js")
    script(src="/js/ZeroClipboard.min.js")
    script(src="/js/jdropit-send.js")
    script.
        window.onload = function(){
            sendFile(#{isLocal},"#{senderLabel}");
        }
block content
    div.row
        div.col-xs-12
            h3 Hello
    div.row#selectFileContainer
        div.col-xs-12
            p Please drop a file below:
            div(class="upload-drop-zone" id="drop-zone") Just drag and drop a file here
            form(id="myform" class="form-inline" action="")
                div(class="form-group")
                    | Or select it in your file explorer:
                    label(for="file" class="hidden") select a file
                    input(type="file" id="file")
    div.row#copyLinkContainer(hidden="true")
        div(class="col-xs-12 jumbotron")
            h4 Ready to transfert!
            p.lead Tell your friend to go to this url:
            div.text-muted#generatedurl
            button.btn#copy-button(title="Click to copy url to clipboard") Copy to clipoard
            span#clipboardcopyok(class="glyphicon glyphicon-check" aria-hidden="true" )
    div#transferContainer(hidden="true")
        div.row
            div.col-xs-12
                p The transfer will start as soon as your friends open the link.
                    span.text-muted.text-right#generatedurlreminder &nbsp;(http://proutprout)
                p File:
                    span#filename


