//-
 just-drop-it
 Copyright (C) 2016 Orange
 Authors: Benjamin Einaudi  benjamin.einaudi@orange.com
          Arnaud Ruffin arnaud.ruffin@orange.com

 This file is part of just-drop-it.

 just-drop-it is free software; you can redistribute it and/or
 modify it under the terms of the GNU General Public License
 as published by the Free Software Foundation; either version 2
 of the License, or (at your option) any later version.

 This program is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with just-drop-it.  If not, see <http://www.gnu.org/licenses/>.

extends layout
block extra_scripts
    | <!--[if IE]> <script>if(window.location.pathname !== "/no_ie")window.location = "/no_ie";</script><![endif]-->
    if isLocal
        script(src="/js/HackTimer.js")
        script(src="/js/HackTimerWorker.js")
        script(src="/js/socket.io-stream.js")
        script(src="/clipboard.js")
        script(src="/js/jdropit-send.js")
    else
        script(src="/js/HackTimer.silent.min.js")
        script(src="/js/HackTimerWorker.min.js")
        script(src="/js/socket.io-stream.min.js")
        script(src="/clipboard.min.js")
        script(src="/js/jdropit-send.min.js")
    script.

    script.
        window.onload = function(){
            sendFile(#{isLocal});
            enableNotifications();
            handleInfoMessage();
        }

block content
    div.row
        div.col-xs-12
            nav.o-stepbar
                    ol
                        li.stepbar-item.current
                            a.stepbar-link(title="Select your file")
                                span.step-number 1
                                span.step-title Select your file
                        li.stepbar-item
                            a.stepbar-link(title="Share it with your friends")
                                span.step-number 2
                                span.step-title Share it with your friends
                        li.stepbar-item
                            a.stepbar-link(title="Transfer")
                                span.step-number 3
                                span.step-title Transfer

    div.row.top-buffer#selectFileContainer
        div.col-xs-12
            p.lead Either drop a file below:
            div.upload-drop-zone#drop-zone Just drag and drop a file here
            form.form-inline.float-xs-right#myform(action="")
                label.lead(for="file") Or select it with the file explorer:&nbsp;
                input#file(type="file")
    div.row.top-buffer#copyLinkContainer(style="display: none;")
        div.col-xs-12
            p.lead Tell your friend to go to this url:
            p.text-muted.text-xs-center.lead#generatedurl
            span.text-success.pull-xs-right.icon-checkbox-tick#clipboardcopyok(aria-hidden="true")
            button.btn.btn-orange.pull-xs-right#copy-button(title="Click to copy url to clipboard",data-clipboard-target="#generatedurl") Copy to clipboard
    div#transferContainer(style="display: none;")
        div.row.top-buffer
            div.col-xs-12
                p.lead Each transfer will start as soon as your friends open the link.
                p.text-muted.text-xs-center.lead#generatedurlreminder
                p &nbsp;
                    span#filename
        div#rowReceiverTemplate.row(style="display: none;")
            div.col-xs-1.offset-xs-1.text-right
                span.icon-Adult.big-icon
            div.col-xs-8
                div.text-xs-center#progressDisplay 0%
                progress.progress(value="0" max="100" style="min-width: 2em;" aria-describedby="progressDisplay" aria-valuenow="0")
            div.col-xs-1
                span.icon-delete.link-like.big-icon(style="display: none;" data-toggle="tooltip" data-placement="right" title="remove line")
            div.col-xs-1



