extends layout
block extra_scripts
    | <!--[if IE]> <script>if(window.location.pathname !== "/no_ie")window.location = "/no_ie";</script><![endif]-->
    if isLocal
        script(src="/js/socket.io.js")
        script(src="/js/socket.io-stream.js")
        script(src="/js/ZeroClipboard.js")
        script(src="/js/jdropit-notif.js")
        script(src="/js/jdropit-send.js")
        script(src="/js/jdropit-whatsnew.js")
    else
        script(src="/js/socket.io.min.js")
        script(src="/js/socket.io-stream.min.js")
        script(src="/js/ZeroClipboard.min.js")
        script(src="/js/jdropit-notif.min.js")
        script(src="/js/jdropit-send.min.js")
        script(src="/js/jdropit-whatsnew.min.js")
    script.

    script.
        window.onload = function(){
            sendFile(#{isLocal});
        }
block content
    div.row
        div.col-xs-12
            h3 Hello
    div.row#selectFileContainer
        div.col-xs-12
            p Please drop a file below:
            div(class="upload-drop-zone" id="drop-zone") Just drag and drop a file here
            form(id="myform" class="form-inline" action="")
                div(class="form-group")
                    | Or select it in your file explorer:
                    label(for="file" class="hidden") select a file
                    input(type="file" id="file")
    div.row#copyLinkContainer(hidden="true")
        div(class="col-xs-12 jumbotron")
            h4 Ready to transfert!
            p.lead Tell your friend to go to this url:
            div.text-muted#generatedurl
            button.btn#copy-button(title="Click to copy url to clipboard") Copy to clipoard
            span#clipboardcopyok(class="glyphicon glyphicon-check" aria-hidden="true" )
    div#transferContainer(hidden="true")
        div.row
            div.col-xs-12
                p The transfer will start as soon as your friends open the link.
                    span.text-muted.text-right#generatedurlreminder &nbsp;(http://proutprout)
                p File:
                    span#filename
        div#rowReceiverTemplate.row(hidden="true")
            div.col-xs-2
            div.col-xs-9
                div.progress
                    div(class="progress-bar  progress-bar-striped active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em;") 0%
            div.col-xs-1(hidden="true")
                a(href="#")
                    span(class="glyphicon glyphicon-remove")



