extends modal_layout.pug
block modal_title
    | Third Parties
block modal_body
    h4
        a(href="https://github.com/socketio/socket.io-client") socket.io client
    p Copyright (c) 2015 Naoyuki Kanezawa
        br
        | Licensed under the&nbsp;
        i
            a(href="https://github.com/socketio/socket.io-client/blob/master/LICENSE") MIT license
    h4
        a(href="https://github.com/nkzawa/socket.io-stream") socket.io stream
    p Copyright (c) 2014 Guillermo Rauch
        br
        | Licensed under the&nbsp;
        i
            a(href="https://github.com/socketio/nkzawa/socket.io-stream/blob/master/LICENSE") MIT license

    h4
        a(href="https://clipboardjs.com/") clipboard.js
    p Copyright (c) 2016 Zeno Rocha
        br
        | clipboard.js is distributed under the terms and conditions of the &nbsp;
        i
            a(href="https://zenorocha.mit-license.org/") MIT License
    h4
        a(href="http://jquery.com") jQuery JavaScript Library
    p Includes&nbsp;
        a(href="http://sizzlejs.com/") Sizzle.js
        br
        | Copyright 2005, 2014 jQuery Foundation, Inc. and other contributors
        br
        | Released under the &nbsp;
        i
            a(href="http://jquery.org/license") MIT License
    h4
        a(href="https://github.com/johnculviner/jquery.fileDownload") jQuery File Download Plugin
    p Copyright (c) 2014 John Culviner
        br
        | Licensed under the &nbsp;
        i
            a(href="https://github.com/johnculviner/jquery.fileDownload/blob/master/LICENSE") MIT License
    h4
        a(href="https://github.com/turuslan/HackTime") HackTimer
    p Avoid timers throttling by browser when tab is inactive
        br
        | Copyright (c) 2015 Ruslan Tushov
        br
        | Licensed under the &nbsp;
        i
            a(href="https://github.com/turuslan/HackTimer/blob/master/LICENSE") MIT License
    h4
        a(href="http://boosted.orange.com") Orange Boosted
    p Copyright (c) 2015 Orange
        br
        | Licensed under the &nbsp;
        i
            a(href="https://github.com/Orange-OpenSource/Orange-Boosted-Bootstrap/blob/master/LICENSE") MIT License

    h4
        a(href="https://github.com/HubSpot/tether") Tether
    p A positioning engine to make overlays, tooltips and dropdowns better
        br
        | Licensed under the &nbsp;
        i
            a(href="https://github.com/HubSpot/tether/blob/master/LICENSE") License
