//
 just-drop-it
 Copyright (C) 2016 Orange
 Authors: Benjamin Einaudi  benjamin.einaudi@orange.com
          Arnaud Ruffin arnaud.ruffin@orange.com

 This file is part of just-drop-it.

 just-drop-it is free software; you can redistribute it and/or
 modify it under the terms of the GNU General Public License
 as published by the Free Software Foundation; either version 2
 of the License, or (at your option) any later version.

 This program is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with just-drop-it.  If not, see <http://www.gnu.org/licenses/>.

div(class="modal fade" id="thirdPartiesModal" tabindex="-1" role="dialog" aria-labelledby="third parties dialog" aria-hidden="true")
    div(class="modal-dialog")
        div(class="modal-content")
            div(class="modal-header")
                button(type="button" class="close" data-dismiss="modal" aria-label="Close")
                    span(aria-hidden="true")
                h4(class="modal-title" ) Third Parties
            div(class="modal-body")
                h4
                    a(href="https://github.com/socketio/socket.io-client") socket.io client
                p Copyright (c) 2015 Naoyuki Kanezawa
                    br
                    | Licensed under the&nbsp;
                    i
                        a(href="https://github.com/socketio/socket.io-client/blob/master/LICENSE") MIT license
                h4
                    a(href="https://github.com/nkzawa/socket.io-stream") socket.io stream
                p Copyright (c) 2014 Guillermo Rauch
                    br
                    | Licensed under the&nbsp;
                    i
                        a(href="https://github.com/socketio/nkzawa/socket.io-stream/blob/master/LICENSE") MIT license

                h4
                    a(href="http://zeroclipboard.org/") ZeroClipboard
                p Copyright (c) 2009-2014 Jon Rohan, James M. Greene
                    br
                    | ZeroClipboard is distributed under the terms and conditions of the &nbsp;
                    i
                        a(href="https://github.com/zeroclipboard/zeroclipboard/blob/master/LICENSE") MIT License
                h4
                    a(href="http://jquery.com") jQuery JavaScript Library
                p Includes&nbsp;
                    a(href="http://sizzlejs.com/") Sizzle.js
                    br
                    | Copyright 2005, 2014 jQuery Foundation, Inc. and other contributors
                    br
                    | Released under the &nbsp;
                    i
                        a(href="http://jquery.org/license") MIT License
                h4
                    a(href="https://github.com/johnculviner/jquery.fileDownload") jQuery File Download Plugin
                p Copyright (c) 2014 John Culviner
                    br
                    | Licensed under the &nbsp;
                    i
                        a(href="https://github.com/johnculviner/jquery.fileDownload/blob/master/LICENSE") MIT License
                h4
                    a(href="https://github.com/turuslan/HackTime") HackTimer
                p Avoid timers throttling by browser when tab is inactive
                    br
                    | Copyright (c) 2015 Ruslan Tushov
                    br
                    | Licensed under the &nbsp;
                    i
                        a(href="https://github.com/turuslan/HackTimer/blob/master/LICENSE") MIT License
                h4
                    a(href="http://boosted.orange.com") Orange Boosted
                p Copyright (c) 2015 Orange
                    br
                    | Licensed under the &nbsp;
                    i
                        a(href="https://github.com/Orange-OpenSource/Orange-Boosted-Bootstrap/blob/master/LICENSE") MIT License
