//
 just-drop-it
 Copyright (C) 2016 Orange
 Authors: Benjamin Einaudi  benjamin.einaudi@orange.com
          Arnaud Ruffin arnaud.ruffin@orange.com

 This file is part of just-drop-it.

 just-drop-it is free software; you can redistribute it and/or
 modify it under the terms of the GNU General Public License
 as published by the Free Software Foundation; either version 2
 of the License, or (at your option) any later version.

 This program is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with just-drop-it.  If not, see <http://www.gnu.org/licenses/>.

script.
    function appendError(message) {
        var rowDiv = $("<div>").addClass("row alert alert-danger");
        rowDiv.append($("<div>").addClass("col-xs-11").html(message));
        var linkRemove = $("<a>", {href : "#"}).append($("<span>").addClass("glyphicon glyphicon-remove"));

        rowDiv.append($("<div>").addClass("col-xs-1 text-right").append(linkRemove))
        var userMessages = $("#userMessages");
        userMessages.empty();
        userMessages.append(rowDiv);
        linkRemove.on("click", function(e){
            e.preventDefault();
            rowDiv.remove();
        });
    }
div#userMessages

