div(class="modal fade" id="whatsNewModal" tabindex="-1" role="dialog" aria-labelledby="about dialog" aria-hidden="true")
    div(class="modal-dialog")
        div(class="modal-content")
            div(class="modal-header")
                button(type="button" class="close" data-dismiss="modal" aria-label="Close")
                    span(aria-hidden="true")
                h4(class="modal-title" ) What's new
            div(class="modal-body")
                h5 Increased transfer speed
                p By handling sending process in web workers we increased transfer speed (especially when using chrome with a background tab)
                h5 Error on http disconnections
                p Sometimes http connections are force closed (by a proxy for instance) when lasting too long. We haven't figured any solution for that yet, but at least we will warn you if it happens.
                h5 Multi-send support
                p You are now able to send a file to multiple recipients at the same time. The generated link will work as long as you don't close your browser.
                h5 IE support on reception
                p Your friends suffering from Internet Explorer addiction will be able to RECEIVE files (not to send, we are not that nice).

