//-
 just-drop-it
 Copyright (C) 2016 Orange
 Authors: Benjamin Einaudi  benjamin.einaudi@orange.com
          Arnaud Ruffin arnaud.ruffin@orange.com

 This file is part of just-drop-it.

 just-drop-it is free software; you can redistribute it and/or
 modify it under the terms of the GNU General Public License
 as published by the Free Software Foundation; either version 2
 of the License, or (at your option) any later version.

 This program is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with just-drop-it.  If not, see <http://www.gnu.org/licenses/>.

extends layout.pug
block extra_scripts
    if isLocal
        script(src="/jquery.fileDownload.js")
        script(src="/js/jdropit-receive.js")
    else
        script(src="/jquery.fileDownload.js")
        script(src="/js/jdropit-receive.min.js")
    script.
        var receiverHandler;
        window.onload = function(){
            receiverHandler = new ReceiverHandler(#{isLocal}, "#{senderId}","#{fileName}",#{fileSize});
            enableNotifications();
            handleInfoMessage();
        }
block content
    div.row#transferContainer
        div.col-12
            h2 Hello
            p Transfer in progress...
        div.col-12
            div.text-center#progress-display 0%
            progress.progress#progress(value="0" max="100" style="min-width: 2em;" aria-describedby="progress-display")
            p
                span#filename

    div.row#completeContainer(style="display: none;")
        div.col-12
            h2 Thank you!
            p Your friend knows you've received the file. You can close this page now.
    div.row#errorContainer(style="display: none;")
        div.col-12
            h2 Error
            strong.text-danger#errorMessage
